@page
@model ResetPasswordConfirmationModel

<div>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Успешно възстановихте паролата си.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<p>
    Натиснете <a asp-page="./Login">тук</a> за да си влезете в профила.
</p>
